<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Pago reserva</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">{{reserva.id_departamento.nombre_departamento}}</h5>

                    <form method="POST">
                        {%csrf_token%}

                        {%if reserva.is_tour %}
                        {%if reserva.is_pago_tour%}
                        {%else%}
                        <h5>Tour por pagar</h5>
                        <p>Nombre Tour:{{reserva.id_departamento.id_tour.nombre_tour}}</p>
                        <p>Valor Tour:{{reserva.valor_tour}}</p>
                        {%endif%}
                        {%endif%}
                        {%if reserva.is_transporte%}
                        {%if reserva.is_pago_transporte%}
                        {%else%}
                        <h5>Transporte por Pagar</h5>
                        <p>Fecha ida {{reserva.id_transporte.fecha_ida}}</p>
                        <p>Fecha vuelta {{reserva.id_transporte.fecha_ida}}</p>
                        <p>Valor transporte {{reserva.valor_transporte}}</p>
                        {%endif%}
                        {%endif%}
                        <h5>items dañados por pagar</h5>
                        <ul>
                            {%for item in items%}
                            <li> {{item.nombre}}: {{item.precio_estimado}}</li>
                            {%endfor%}
                        </ul>
                        <p> precio total items {{precio_items}}</p>
                        <p> cantidad faltante {{por_pagar}}</p>
                        <hr>
                        <p> total <input disabled type="text" value="{{total}}"></p>
                        <input name="valor_pago" type="hidden" value="{{total}}"></p>

                        <button class="btn btn-danger" type="submit">Pagar checkout</button>


                    </form>

                </div>
            </div>
        </div>

    </div>

</body>

</html>