{% extends 'base/base.html'%}
{%load static%}
{%block titulo%}Inicio{%endblock titulo%}

{%block contenido%}
{%include 'includes/nav.html' %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-4">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="A donde vas?"
                    aria-label="Buscar departamento">
                <button class="btn btn-outline-success" type="submit">Buscar departamento</button>
            </form>
        </div>

        <div class="col-md-2">
            <label for="fechaDesde">Desde</label>
            <div id="fechaDesde" class="input-group date">
                <input type="text" class="form-control" value="25/01/2022"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>

        <div class="col-md-2">
            <label for="fechaDesde">Hasta</label>
            <div id="fechaDesde" class="input-group date">
                <input type="text" class="form-control" value="01/02/2022"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>
        <div class="col-md-2">
            <label for="exampleFormControlInput1" class="form-label">Numero de personas</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="col-md-2">
            <button type="button" class=" mt-4 btn btn-primary">Buscar</button>
        </div>


    </div>

    <div class="row mt-4">
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'img/departamento-ejemplo.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Departamento ejemplo</h5>
                    <p class="card-text">Departamento con 3 piezas con vista frente al mar , 2 baños ,cocina,patio...
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card row">
                <div class="card-header">
                    Servicios
                </div>
                <div class="card-body">
                    <h5 class="card-title">Servicio de transporte</h5>
                    <p class="card-text">El departamento buscado si cuenta con servicios de transporte</p>
                    <a href="#" class="btn btn-primary">Ver servicios de transporte</a>
                </div>
            </div>
            <div class="card mt-3 row">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Servicios de tour</h5>
                    <p class="card-text">El departamento buscado si cuenta con servicios de turismo.</p>
                    <a href="#" class="btn btn-primary">Ver servicios de tour</a>
                </div>
            </div>
        </div>

        <div class="col ">
            <button type="button" class="btn btn-primary">Ir a reservar</button>
        </div>


    </div>
</div>

{%endblock contenido%}
{%block footer%}
{% include 'includes/footer.html' %}
{%endblock footer%}