{% load static%}
<div class="container-fluid">
    <div class="row navbar-dark bg-dark justify-content-center ">
        <div class="row justify-content-center">
    
            <li class="col-6 col-md-2 nav-item ">
                <a class="nav-link text-white" href="{% url 'cliente_app:inicio-principal' %}">
    
                    <img class="img-fluid" src="{% static '/img/logos/turismo_real_logo.png' %}" alt="">
                </a>
            </li>
        </div>
        <div class="row mb-4 justify-content-center">
            <li class="col-4 col-md-3 nav-item ">
                <a class="text-center nav-link text-white " href="#">Nosotros</a>
            </li>
            <li class="col-4 col-md-3 nav-item">
                <a class="text-center  nav-link text-white" href="#">Precios</a>
            </li>
            <li class="col-4 col-md-3 nav-item">
                <a class="text-center nav-link text-white" href="#">Contacto</a>
            </li>
        </div>
    
        {% if not user.is_anonymous %}
        <div class="row mb-4 justify-content-center">
            <div class="col-12">
                <h5 class="ms-4 text-center" style="color: white;">Bienvenido {{nombre_cliente}}</h5>
            </div>
        </div> 
        <div class="row justify-content-center">
            <div class="mb-4 col-5 col-lg-3 col-md-3 col-sm-5">
                <a style="color: white;" class="btn  btn-primary nav-link"
                    href="{% url 'cliente_app:lista-reservas' %}">Reservas</a>
            </div>
            <div class="mb-4 col-6 col-xxl-3 col-xl-3 col-lg-4 col-md-3 col-sm-5">
                <a style="color: white;" class="btn  btn-primary nav-link" href="{% url 'users_app:user-logout' %}">Cerrar
                    sesion</a>
            </div>
        </div>
        {%else%}
        <div class="row justify-content-center">
            <div class="row mb-4 justify-content-center">
                <div class="col-6 col-md-3">
                    <a style="color: white;" class="btn ml-4 btn-primary nav-link"
                        href="{% url 'users_app:user-login' %}">Iniciar sesion</a>
                </div>
                <div class="col-6 col-md-3">
                    <a style="color: white;" class="btn ml-4 btn-primary nav-link "
                        href="{% url 'users_app:user-register'%}">Crear Cuenta</a>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
    
</div>

