{% extends 'base/base.html'%}
{%load static%}
{%block titulo%}Inicio{%endblock titulo%}

{%block contenido%}

<div class="content">

    <h1>{{ object.REse }}</h1>
    <h2>Cliente:</h2>

    <p>Nombre: {{ object.nombre }} {{ object.apellido }}</p>
    <p>Rut: {{ object.rut }}</p>
    <p>Fecha de nacimiento: {{ object.fecha_nacimiento }}</p>
    <h2>Reservas</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Reserva</th>
                <th scope="col">Valor total</th>
                <th scope="col">Departamento</th>
                <th scope="col">Numero</th>
                <th scope="col">Cantidad de personas</th>
                <th scope="col">Items</th>


            </tr>
        </thead>
        <tbody>
            {% for reserva in Reservas %}
            <tr>
                <th>{{ reserva.id_reserva }}</th>
                <td>{{ reserva.valor_total }}</td>
                <td>{{ reserva.id_departamento.nombre_departamento }}</td>
                <td>{{ reserva.id_departamento.numero_departamento }}</td>
                <td>{{ reserva.id_departamento.numero_personas }}</td>
                {%if reserva.is_pago_checkout%}
                {%else%}
                <td>
                    <form action="/funcionario/listadoItem/{{reserva.id_departamento.id_departamento}}" method="get">

                        <button type="submit" class="btn btn-primary"> Ver </button>
                    </form>
                </td>
                {%endif%}
            </tr>
            {% endfor %}


        </tbody>
    </table>

    <p>{{ Mensaje }}</p>

    <button class="btn btn-primary"> Volver</button>


</div>

{%endblock contenido%}