<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Estimado:</h2>
    <h2>{{nombre}} {{apellido}}</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat hic dicta cumque sapiente repellendus at
        distinctio illo nobis, eligendi excepturi ea dolore impedit quis quidem earum. Numquam dicta laboriosam
        possimus?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat hic dicta cumque sapiente repellendus at
        distinctio illo nobis, eligendi excepturi ea dolore impedit quis quidem earum. Numquam dicta laboriosam
        possimus?</p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat hic dicta cumque sapiente repellendus at
        distinctio illo nobis, eligendi excepturi ea dolore impedit quis quidem earum. Numquam dicta laboriosam
        possimus?
    
    <a href="http://localhost:8000/funcionario/pagarCheckin/{{id_reserva}}">Realizar pago</a>
</body>

</html>