{%extends 'base/base.html'%}

{%block titulo%}
Login cliente
{%endblock titulo%}

{%block contenido%}

<div class="container-fluid">
    <div class="row">
        {%include 'includes/nav.html' %}
    </div>
    
    <div class="row mt-4">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Ingreso de Cliente</h5>
                    <form method="POST">
                        {%csrf_token%}
                        <div class=" mb-3">
                            <label >Correo</label>
                            {{form.email}}
                            
                        </div>
                        <div class=" mb-3">
                            <label>Clave</label>
                            {{form.password}}
                            
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold"
                                type="submit">Ingresar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>


{%endblock contenido%}